@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=MuseoModerno:wght@200&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  background-image: url(Images/mustang);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 50px;
  height: 150px;
  position: relative;
}
nav{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 60px 0 60px;
}
h2{
 color: rgb(255, 255, 255);
 font-size: 45px;
 font-family: 'MuseoModerno', cursive;
 padding-bottom: 40px;
 font-weight: bold;
}
nav li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
}
li a{
  padding: 5px;
  background-color: rgb(255, 208, 0);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
.cart a{
  background-color: rgb(140, 0, 255);
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
} 
.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}
.addToCart{
  position: absolute;
  width: 100%;
  background-color:#00aeff;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
  bottom: 48px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}