@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=MuseoModerno:wght@200&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  background-image: url(Images/mustang);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 50px;
  height: 150px;
  position: relative;
}
nav{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 60px 0 60px;
}
h2{
 color: rgb(255, 255, 255);
 font-size: 45px;
 font-family: 'MuseoModerno', cursive;
 padding-bottom: 40px;
 font-weight: bold;
}
nav li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 20px;
}
li a{
  padding: 5px;
  background-color: rgb(255, 208, 0);
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.cart ion-icon{
  vertical-align: bottom;
  font-size: 20px;
  padding-right: 5px;
}
.cart a{
  background-color: rgb(140, 0, 255);
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
} 
.container,
.container-products{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  padding-bottom: 100px;
}
.image{
  margin-right: 20px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  
}
.addToCart{
  position: absolute;
  width: 100%;
  background-color:#00aeff;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  text-align: center;
}
.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4{
  bottom: 48px;
  opacity: 1;
  padding: 10px;
  text-decoration: none;
}
/*----------CART PAGE----------*/
.container-products{
  max-width: 700px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
  }
  .container-products ion-icon{
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  }
  .product-header{
  width: 100%;
  max-width: 650px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid rgb(196, 121, 121);
  margin: 0 auto;
  }
  .product-title{
  width: 5%;
  padding-right: 100px;
  }
  .price{
  width: 39%;
  border-bottom: 1px solid rgb(25, 22, 168);
  display: flex;
  align-items: center;
  padding-left: 15%;
  }
  .quantity{
  width: 30%;
  border-bottom: 1px solid rgb(17, 209, 0);
  display: flex;
  align-items: center;
  padding-right: 5%;
  }
  .total{
  width: 10%;
  border-bottom: 1px solid rgb(235, 193, 7);
  display: flex;
  align-items: center;
  padding-left: 40px;
  
  }
  .product{
  width: 500%;                               
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  padding-right: 60px;
  border-bottom: 1px solid rgb(255, 0, 0);
  }
  .product ion-icon{
  cursor: pointer;
  }
  .product{
  width: 600%;
  display: flex;
  flex-wrap: wrap;
  }
  .productImages{
    max-width: 10px;
    max-height: 10px;
    }
  .basketTotalContainer{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  }
  .basketTotalTitle{
  width: 30%;
  }
  .basketTotal{
  width: 10%;
  }
  @media(max-width:500px){
  nav h2{
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  }
  .sm-hide{
  display: none;
  }
  .product,
  .product-header{
  justify-content: center;
  }
  .basketTotalContainer{
  padding-right: 8%;
  }
} 
  